<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <!-- This is where the content will be rendered -->
    <div style="margin-top: 50px" class="ui container">
        <!-- This is the title and header-->
        <h1 class = "ui center aliged header">GetItDone</h1>
        <p class = "ui center aliged">Critics agree, GetItDone is "simply the best to-do app on the market, hands down"</p>
        <hr>
        <!-- This is the new todo form -->
        <form class ="ui form" action="/add" method="post">
            <div class="field">
                <label for="title" style="margin-top: 5px">Todo Title:</label>
                <input type="text" style="margin-bottom: 5px" name="title" placeholder="Input Todo Here"/><br>
                <button class="ui blue button" style="margin-bottom: 5px" type="submit"> Add </button>
            </div>
        </form>
        <hr>
        <!-- Block with all todos-->
        {% for todo in todo_list %}
        <div class="ui segment">
            <p class="ui big header">{{ todo.id }} | {{ todo.title }}</p>
            {% if todo.complete == False %}
                <span class="ui gray label">Not Completed</span>
            {% else %}
                <span class="ui green label">Completed</span>
            {% endif %}
            <a class="ui blue button" href="/update/{{ todo.id }}"> Update </a>
            <a class="ui red button" href="/delete/{{ todo.id }}"> Delete </a>
        </div>
    </div>
    {% endfor %}
</body>
</html>